{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/lumen/bootstrap.min.css" rel="stylesheet" integrity="sha384-iqcNtN3rj6Y1HX/R0a3zu3ngmbdwEa9qQGHdkXwSRoiE+Gj71p0UNDSm99LcXiXV" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'login.css' %}">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>

    <title>Document</title>
</head>
<body>
    <div class="card text-center">
        <div class="card-header">
            Featured
        </div>
        <div class="card-body">
            <form action="{% url 'loginapp:login' %}" method="POST">
                {% csrf_token %}
                {{ form }}
                <button type="submit">Log In!</button>
            </form>
        </div>
        <div class="card-footer text-muted">
                <a id="hyper" href="/register/">Sign Up!</a>
        </div>
    </div>
</body>
</html>